.status {
    display: flex;
    .statusIndicator {
        width: 8px;
        height: 8px;
        border-radius: 25px;
        margin-right: 5px;
        margin-top: 5px;
    }
}

.createElectionButton {
    color: white;
    float: right;
    width: 170px;
    height: 35px;
    background: #593cda;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;

    transition: all ease 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px
}

.networkHeader {
    display: flex;
    .imageHolder {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        .image {
            width: 25px;
            height: 25px;
        }
    }
    .imageText {
        margin-left: 15px;
    }
    .imageText > font {
        font-weight: bolder;
    }
}